<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mag_ACClientLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Mag_ACClientLauncher.Properties.Settings>
            <setting name="ACClientLocation" serializeAs="String">
                <value>C:\Turbine\Asheron's Call\acclient.exe</value>
            </setting>
            <setting name="DecalInjectLocation" serializeAs="String">
                <value>C:\Program Files (x86)\Decal 3.0\Inject.dll</value>
            </setting>
            <setting name="InjectDecal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BulkLaunchQuantity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BulkLaunchStartIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BulkLaunchUserNamePrefix" serializeAs="String">
                <value>test_</value>
            </setting>
            <setting name="BulkLaunchInterval" serializeAs="String">
                <value>2</value>
            </setting>
        </Mag_ACClientLauncher.Properties.Settings>
    </userSettings>
</configuration>